body
{
	background-color: #303030;
	color: white;
}

#footer {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(73, 73, 73);
    width: 960px;
    height: 130px;
}

#gra {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    border-image: initial;
    border-radius: 20px;
}

#opis {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    padding: 15px;
}

#header {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

#container {
    color: white;
    font-family: Lato, sans-serif;
    background-color: rgb(64, 64, 64);
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}